@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: nunito;
  src: url(../src/assets/font/pe0TMImSLYBIv1o4X1M8ce2xCx3yop4tQpF_MeTm0lfGWVpNn64CL7U8upHZIbMV51Q42ptCp7t1R-s.woff2);
}

* {
  font-family: nunito;
}

.gridLogo {
  grid-column-gap: 0.5rem;
  grid-row-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 55px);
}

.slideGrid {
  grid-template-areas:
    'meta'
    'showcase'
    'actions';
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.showcaseGrid {
  grid-area: showcase;
}

.reviewSection {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjUwIiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMjgzMiAyNTAiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0wIDI1MGgyODMyQzEyNjcuOTQgMjUwIDAgMCAwIDB2MjUweiIvPjwvc3ZnPg=='),
    linear-gradient(180deg, hsla(0, 0%, 100%, 0), #f7f8ff 65%, #f7f8ff);
  background-position: bottom 0 left 0;
  background-repeat: no-repeat;
}

.solutionShadow {
  box-shadow: 0 0 30px 0 rgba(67, 67, 113, 0.2);
}

@media only screen and (min-width: 769px) {
  .slideGrid {
    grid-template-areas:
      'showcase'
      'meta'
      'actions';
    grid-template-rows: 1fr 1fr auto;
  }

  .showcaseGrid {
    border-radius: 10px 10px 0 0;
    height: calc(2rem + 300px);
    min-height: calc(2rem + 300px);
  }

  .activeBox {
    background-position:
      left 0 top 0,
      right 0 bottom 0;
  }
}
