@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: nunito;
  src: url(../src/assets/font/pe0TMImSLYBIv1o4X1M8ce2xCx3yop4tQpF_MeTm0lfGWVpNn64CL7U8upHZIbMV51Q42ptCp7t1R-s.woff2);
}

* {
  font-family: nunito;
}

.gridLogo {
  grid-column-gap: 0.5rem;
  grid-row-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 55px);
}

.slideGrid {
  grid-template-areas:
    'meta'
    'showcase'
    'actions';
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.showcaseGrid {
  grid-area: showcase;
}

@media only screen and (min-width: 769px) {
  .slideGrid {
    grid-template-areas:
      'showcase'
      'meta'
      'actions';
    grid-template-rows: 1fr 1fr auto;
  }

  .showcaseGrid {
    border-radius: 10px 10px 0 0;
    height: calc(2rem + 300px);
    min-height: calc(2rem + 300px);
  }
}
